# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
dist/
noaa_coops.egg-info/
noaa_coops/__pycache__/*

# Jupyter Notebook
.ipynb_checkpoints

# Testing & Coverages
.cache
.coverage
.pytest_cache

# Example .csv files
.csv