# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Testing & Coverage
.cache
.coverage
.pytest_cache

# Example .csv files
.csv