interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/1611400.json?expand=details,sensors,products,disclaimers,notices,datums,harcon,tidepredoffets,benchmarks,nearby,bins,deployments,currentpredictionoffsets,floodlevels?units=metric
  response:
    body:
      string: "{\n  \"count\": 1,\n  \"units\": null,\n  \"stations\": [\n    {\n
        \     \"tidal\": true,\n      \"greatlakes\": false,\n      \"shefcode\":
        \"NWWH1\",\n      \"details\": {\n        \"id\": \"1611400\",\n        \"established\":
        \"1954-11-24 00:00:00\",\n        \"removed\": \"\",\n        \"noaachart\":
        \"19383\",\n        \"timemeridian\": -150,\n        \"timezone\": -10.0,\n
        \       \"origyear\": \"1991-02-16 00:00:00\",\n        \"self\": \"https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/1611400/details.json\"\n
        \     },\n      \"sensors\": {\n        \"units\": \"feet\",\n        \"sensors\":
        [\n          {\n            \"status\": 1,\n            \"refdatum\": \"Site
        Elevation\",\n            \"sensorID\": \"C1\",\n            \"name\": \"Wind\",\n
        \           \"elevation\": 27.85433,\n            \"message\": \"\",\n            \"dcp\":
        3\n          },\n          {\n            \"status\": 1,\n            \"refdatum\":
        \"Site Elevation\",\n            \"sensorID\": \"D1\",\n            \"name\":
        \"Air Temperature\",\n            \"elevation\": 12.795276,\n            \"message\":
        \"\",\n            \"dcp\": 3\n          },\n          {\n            \"status\":
        1,\n            \"refdatum\": \"MLLW\",\n            \"sensorID\": \"E1\",\n
        \           \"name\": \"Water Temperature\",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl/DataInventory.wsdl
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<wsdl:definitions targetNamespace=\"https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl\"
        xmlns:apachesoap=\"http://xml.apache.org/xml-soap\" xmlns:impl=\"https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl\"
        xmlns:intf=\"https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\" xmlns:wsdlsoap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n<!--WSDL created by Apache
        Axis version: 1.4\nBuilt on Apr 22, 2006 (06:55:48 PDT)-->\n <wsdl:types>\n
        \ <schema elementFormDefault=\"qualified\" targetNamespace=\"https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl\"
        xmlns=\"http://www.w3.org/2001/XMLSchema\">\n   <element name=\"Parameters\">\n
        \   <complexType>\n     <sequence>\n      <element name=\"stationId\" type=\"xsd:string\"/>\n
        \    </sequence>\n    </complexType>\n   </element>\n   <complexType name=\"location\">\n
        \   <sequence>\n     <element name=\"lat\" type=\"xsd:string\"/>\n     <element
        name=\"long\" nillable=\"true\" type=\"xsd:string\"/>\n     <element name=\"state\"
        type=\"xsd:string\"/>\n    </sequence>\n   </complexType>\n   <complexType
        name=\"metadata\">\n    <sequence>\n     <element name=\"location\" type=\"impl:location\"/>\n
        \    <element name=\"date_established\" type=\"xsd:string\"/>\n     <element
        name=\"shef_id\" type=\"xsd:string\"/>\n     <element name=\"deployment_designation\"
        type=\"xsd:string\"/>\n    </sequence>\n   </complexType>\n   <complexType
        name=\"parameter\">\n    <sequence/>\n    <attribute name=\"first\" type=\"xsd:string\"/>\n
        \   <attribute name=\"last\" type=\"xsd:string\"/>\n    <attribute name=\"name\"
        type=\"xsd:string\"/>\n   </complexType>\n   <complexType name=\"station\">\n
        \   <sequence>\n     <element name=\"metadata\" type=\"impl:metadata\"/>\n
        \    <element maxOccurs=\"unbounded\" minOccurs=\"0\" name=\"parameter\" type=\"impl:parameter\"/>\n
        \   </sequence>\n    <attribute name=\"ID\" type=\"xsd:string\"/>\n    <attribute
        name=\"name\" type=\"xsd:string\"/>\n   </complexType>\n   <element name=\"DataInventory\">\n
        \   <complexType>\n     <sequence>\n      <element name=\"station\" type=\"impl:station\"/>\n
        \    </sequence>\n    </complexType>\n   </element>\n  </schema>\n </wsdl:types>\n\n
        \  <wsdl:message name=\"getDataInventoryResponse\">\n\n      <wsdl:part element=\"impl:DataInventory\"
        name=\"DataInventory\"/>\n\n   </wsdl:message>\n\n   <wsdl:message name=\"getDataInventoryRequest\">\n\n
        \     <wsdl:part element=\"impl:Parameters\" name=\"Parameters\"/>\n\n   </wsdl:message>\n\n
        \  <wsdl:portType name=\"DataInventoryPortType\">\n\n      <wsdl:operation
        name=\"getDataInventory\" parameterOrder=\"Parameters\">\n\n         <wsdl:input
        message=\"impl:getDataInventoryRequest\" name=\"getDataInventoryRequest\"/>\n\n
        \        <wsdl:output message=\"impl:getDataInventoryResponse\" name=\"getDataInventoryResponse\"/>\n\n
        \     </wsdl:operation>\n\n   </wsdl:portType>\n\n   <wsdl:binding name=\"DataInventorySoapBinding\"
        type=\"impl:DataInventoryPortType\">\n\n      <wsdlsoap:binding style=\"document\"
        transport=\"http://schemas.xmlsoap.org/soap/http\"/>\n\n      <wsdl:operation
        name=\"getDataInventory\">\n\n         <wsdlsoap:operation soapAction=\"\"/>\n\n
        \        <wsdl:input name=\"getDataInventoryRequest\">\n\n            <wsdlsoap:body
        use=\"literal\"/>\n\n         </wsdl:input>\n\n         <wsdl:output name=\"getDataInventoryResponse\">\n\n
        \           <wsdlsoap:body use=\"literal\"/>\n\n         </wsdl:output>\n\n
        \     </wsdl:operation>\n\n   </wsdl:binding>\n\n   <wsdl:service name=\"DataInventoryService\">\n\n
        \     <wsdl:port binding=\"impl:DataInventorySoapBinding\" name=\"DataInventory\">\n\n
        \        <wsdlsoap:address location=\"https://opendap.co-ops.nos.noaa.gov/axis/services/DataInventory\"/>\n\n
        \     </wsdl:port>\n\n   </wsdl:service>\n\n</wsdl:definitions>"
    headers:
      Content-Type:
      - text/xml
      ETag:
      - W/"3712-1673306860000"
      Last-Modified:
      - Mon, 09 Jan 2023 23:27:40 GMT
    status:
      code: 200
      message: ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:Parameters
      xmlns:ns0="https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl"><ns0:stationId>1611400</ns0:stationId></ns0:Parameters></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '""'
    method: POST
    uri: https://opendap.co-ops.nos.noaa.gov/axis/services/DataInventory
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><DataInventory
        xmlns="https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl"><station
        ID="1611400" name="Nawiliwili"><metadata><location><lat>21.9544</lat><long>-159.3561</long><state>HI</state></location><date_established>1954-11-24</date_established><shef_id>NWWH1</shef_id><deployment_designation>NWLON</deployment_designation></metadata><parameter
        first="2009-01-16 20:42" last="2013-01-11 02:00" name="Wind"/><parameter first="2015-02-07
        10:24" last="2026-07-21 17:00" name="Wind"/><parameter first="2009-01-16 20:42"
        last="2013-01-11 02:36" name="Air Temperature"/><parameter first="2015-02-07
        10:24" last="2026-07-21 17:00" name="Air Temperature"/><parameter first="1994-01-22
        10:00" last="2026-07-21 17:00" name="Water Temperature"/><parameter first="2009-01-16
        20:42" last="2013-01-11 02:36" name="Barometric Pressure"/><parameter first="2015-02-07
        10:24" last="2026-07-21 17:00" name="Barometric Pressure"/><parameter first="2001-01-01
        00:00" last="2026-07-21 17:00" name="Preliminary 6-Minute Water Level"/><parameter
        first="1995-11-30 00:00" last="2026-06-30 23:54" name="Verified 6-Minute Water
        Level"/><parameter first="1954-11-27 10:00" last="2026-06-30 23:00" name="Verified
        Hourly Height Water Level"/><parameter first="1979-02-01 10:18" last="2026-06-30
        23:54" name="Verified High/Low Water Level"/><parameter first="1954-12-01
        00:00" last="2007-10-31 23:54" name="Verified Monthly Mean Water Level"/><parameter
        first="2008-02-01 00:00" last="2026-06-30 23:54" name="Verified Monthly Mean
        Water Level"/></station></DataInventory></soapenv:Body></soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidesandcurrents.noaa.gov/dpapi/prod/webapi/product/sealvltrends.json?station=1611400&details=monthlymeans&trendType=SINGLE&units=metric
  response:
    body:
      string: "{\n  \"info\": \"The values are in meters relative to the MSL. Values
        are the Year, Month, Relative Sea Level, Relative Sea Level minus Average
        Seasonal Cycle, Trend Line, Upper 95% Confidence Interval, and Lower 95% Confidence
        Interval. The station's single trend was used for calculation.\",\n  \"stationID\":
        \"1611400\",\n  \"stationName\": \"Nawiliwili\",\n  \"datum\": \"MSL\",\n
        \ \"trendType\": \"SINGLE\",\n  \"units\": \"meters\",\n  \"data\": [\n    {\n
        \     \"year\": 1955,\n      \"month\": 1,\n      \"meanDate\": \"01/15/1955\",\n
        \     \"mslDeseasonalized\": -0.092,\n      \"msl\": -0.099,\n      \"trendLine\":
        -0.06,\n      \"upperConfidence\": -0.045,\n      \"lowerConfidence\": -0.075\n
        \   },\n    {\n      \"year\": 1955,\n      \"month\": 2,\n      \"meanDate\":
        \"02/15/1955\",\n      \"mslDeseasonalized\": -0.102,\n      \"msl\": -0.129,\n
        \     \"trendLine\": -0.06,\n      \"upperConfidence\": -0.045,\n      \"lowerConfidence\":
        -0.075\n    },\n    {\n      \"year\": 1955,\n      \"month\": 3,\n      \"meanDate\":
        \"03/15/1955\",\n      \"mslDeseasonalized\": -0.041,\n      \"msl\": -0.08,\n
        \     \"trendLine\": -0.0[...]
