interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/1611347.json?expand=details,sensors,products,disclaimers,notices,datums,harcon,tidepredoffets,benchmarks,nearby,bins,deployments,currentpredictionoffsets,floodlevels?units=metric
  response:
    body:
      string: "{\n  \"count\": 1,\n  \"units\": null,\n  \"stations\": [\n    {\n
        \     \"tidal\": true,\n      \"greatlakes\": false,\n      \"shefcode\":
        \"\",\n      \"details\": {\n        \"id\": \"1611347\",\n        \"established\":
        \"1988-02-23 00:00:00\",\n        \"removed\": \"1997-02-12 00:00:00\",\n
        \       \"noaachart\": \"19382\",\n        \"timemeridian\": -150,\n        \"timezone\":
        -10.0,\n        \"origyear\": \"1996-01-22 23:00:00\",\n        \"self\":
        \"https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/1611347/details.json\"\n
        \     },\n      \"sensors\": {\n        \"units\": \"feet\",\n        \"sensors\":
        null,\n        \"self\": \"https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/1611347/sensors.json\"\n
        \     },\n      \"floodlevels\": null,\n      \"datums\": {\n        \"accepted\":
        \"Apr 17 2003\",\n        \"superseded\": \"\",\n        \"epoch\": \"1983-2001\",\n
        \       \"units\": \"feet\",\n        \"OrthometricDatum\": \"Ortho\",\n        \"datums\":
        [\n          {\n            \"name\": \"STND\",\n            \"description\":
        \"Station Datum\",\n            \"value\": 0.0\n          },\n          {\n
        \           \"name\": \"MHHW\",\n            \"description\": \"Mean Higher-High
        Water\",\n            \"value\": 5.16\n          },\n          {\n            \"name\":
        \"MHW\",\n            \"description\": \"Mean High Water\",\n            \"value\":
        4.76\n          },\n          {\n            \"name\": \"DTL\",\n            \"description\":
        \"Mean Diurnal Tide Level\",\n            \"value\": 4.24\n          },\n
     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl/DataInventory.wsdl
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<wsdl:definitions targetNamespace=\"https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl\"
        xmlns:apachesoap=\"http://xml.apache.org/xml-soap\" xmlns:impl=\"https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl\"
        xmlns:intf=\"https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\" xmlns:wsdlsoap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n<!--WSDL created by Apache
        Axis version: 1.4\nBuilt on Apr 22, 2006 (06:55:48 PDT)-->\n <wsdl:types>\n
        \ <schema elementFormDefault=\"qualified\" targetNamespace=\"https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl\"
        xmlns=\"http://www.w3.org/2001/XMLSchema\">\n   <element name=\"Parameters\">\n
        \   <complexType>\n     <sequence>\n      <element name=\"stationId\" type=\"xsd:string\"/>\n
        \    </sequence>\n    </complexType>\n   </element>\n   <complexType name=\"location\">\n
        \   <sequence>\n     <element name=\"lat\" type=\"xsd:string\"/>\n     <element
        name=\"long\" nillable=\"true\" type=\"xsd:string\"/>\n     <element name=\"state\"
        type=\"xsd:string\"/>\n    </sequence>\n   </complexType>\n   <complexType
        name=\"metadata\">\n    <sequence>\n     <element name=\"location\" type=\"impl:location\"/>\n
        \    <element name=\"date_established\" type=\"xsd:string\"/>\n     <element
        name=\"shef_id\" type=\"xsd:string\"/>\n     <element name=\"deployment_designation\"
        type=\"xsd:string\"/>\n    </sequence>\n   </complexType>\n   <complexType
        name=\"parameter\">\n    <sequence/>\n    <attribute name=\"first\" type=\"xsd:string\"/>\n
        \   <attribute name=\"last\" type=\"xsd:string\"/>\n    <attribute name=\"name\"
        type=\"xsd:string\"/>\n   </complexType>\n   <complexType name=\"station\">\n
        \   <sequence>\n     <element name=\"metadata\" type=\"impl:metadata\"/>\n
        \    <element maxOccurs=\"unbounded\" minOccurs=\"0\" name=\"parameter\" type=\"impl:parameter\"/>\n
        \   </sequence>\n    <attribute name=\"ID\" type=\"xsd:string\"/>\n    <attribute
        name=\"name\" type=\"xsd:string\"/>\n   </complexType>\n   <element name=\"DataInventory\">\n
        \   <complexType>\n     <sequence>\n      <element name=\"station\" type=\"impl:station\"/>\n
        \    </sequence>\n    </complexType>\n   </element>\n  </schema>\n </wsdl:types>\n\n
        \  <wsdl:message name=\"getDataInventoryResponse\">\n\n      <wsdl:part element=\"impl:DataInventory\"
        name=\"DataInventory\"/>\n\n   </wsdl:message>\n\n   <wsdl:message name=\"getDataInventoryRequest\">\n\n
        \     <wsdl:part element=\"impl:Parameters\" name=\"Parameters\"/>\n\n   </wsdl:message>\n\n
        \  <wsdl:portType name=\"DataInventoryPortType\">\n\n      <wsdl:operation
        name=\"getDataInventory\" parameterOrder=\"Parameters\">\n\n         <wsdl:input
        message=\"impl:getDataInventoryRequest\" name=\"getDataInventoryRequest\"/>\n\n
        \        <wsdl:output message=\"impl:getDataInventoryResponse\" name=\"getDataInventoryResponse\"/>\n\n
        \     </wsdl:operation>\n\n   </wsdl:portType>\n\n   <wsdl:binding name=\"DataInventorySoapBinding\"
        type=\"impl:DataInventoryPortType\">\n\n      <wsdlsoap:binding style=\"document\"
        transport=\"http://schemas.xmlsoap.org/soap/http\"/>\n\n      <wsdl:operation
        name=\"getDataInventory\">\n\n         <wsdlsoap:operation soapAction=\"\"/>\n\n
        \        <wsdl:input name=\"getDataInventoryRequest\">\n\n            <wsdlsoap:body
        use=\"literal\"/>\n\n         </wsdl:input>\n\n         <wsdl:output name=\"getDataInventoryResponse\">\n\n
        \           <wsdlsoap:body use=\"literal\"/>\n\n         </wsdl:output>\n\n
        \     </wsdl:operation>\n\n   </wsdl:binding>\n\n   <wsdl:service name=\"DataInventoryService\">\n\n
        \     <wsdl:port binding=\"impl:DataInventorySoapBinding\" name=\"DataInventory\">\n\n
        \        <wsdlsoap:address location=\"https://opendap.co-ops.nos.noaa.gov/axis/services/DataInventory\"/>\n\n
        \     </wsdl:port>\n\n   </wsdl:service>\n\n</wsdl:definitions>"
    headers:
      Content-Type:
      - text/xml
      ETag:
      - W/"3712-1673306860000"
      Last-Modified:
      - Mon, 09 Jan 2023 23:27:40 GMT
    status:
      code: 200
      message: ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:Parameters
      xmlns:ns0="https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl"><ns0:stationId>1611347</ns0:stationId></ns0:Parameters></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '""'
    method: POST
    uri: https://opendap.co-ops.nos.noaa.gov/axis/services/DataInventory
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><DataInventory
        xmlns="https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl"><station
        ID="1611347" name="PORT ALLEN, HANAPEPE BAY, KAUAI ISLAND"><metadata><location><lat>21.9033</lat><long>-159.5920</long><state>HI</state></location><date_established>1988-02-23</date_established><shef_id></shef_id><deployment_designation></deployment_designation></metadata><parameter
        first="1991-06-01 00:00" last="1997-01-29 23:00" name="Wind"/><parameter first="1991-06-01
        00:00" last="1992-09-23 01:00" name="Air Temperature"/><parameter first="1993-02-13
        01:00" last="1997-01-29 23:00" name="Air Temperature"/><parameter first="1991-06-01
        00:00" last="1997-01-29 23:00" name="Water Temperature"/><parameter first="1991-06-01
        00:00" last="1997-01-29 23:00" name="Barometric Pressure"/><parameter first="1996-01-01
        00:00" last="1997-01-29 21:54" name="Verified 6-Minute Water Level"/><parameter
        first="1989-02-16 00:00" last="1997-01-29 21:00" name="Verified Hourly Height
        Water Level"/><parameter first="1989-02-16 03:42" last="1997-01-29 21:54"
        name="Verified High/Low Water Level"/><parameter first="1989-03-01 00:00"
        last="1996-12-31 23:54" name="Verified Monthly Mean Water Level"/></station></DataInventory></soapenv:Body></soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidesandcurrents.noaa.gov/dpapi/prod/webapi/extrfa.json?station=1611347&units=metric
  response:
    body:
      string: "{\n  \"count\": 1,\n  \"ExtRfa\": [\n    {\n      \"stationId\": \"1611347\",\n
        \     \"name\": \"PORT ALLEN, HANAPEPE BAY, KAUAI ISLAND\",\n      \"lat\":
        \"21.9033\",\n      \"lon\": \"-159.5920\",\n      \"tidalEpoch\": \"1983-2001\",\n
        \     \"gridNum\": 39509,\n      \"gridLat\": 21.5,\n      \"gridLong\": -159.5,\n
        \     \"region\": \"PAC\",\n      \"localUIndex\": [\n        {\n          \"Uindex\":
        0.233,\n          \"unit\": \"m\"\n        }\n      ],\n      \"localUTrend\":
        [\n        {\n          \"Utrend\": 2.1,\n          \"unit\": \"mm\"\n        }\n
        \     ],\n      \"startDate\": \"02/16/1989\",\n      \"endDate\": \"01/29/1997\",\n
        \     \"validDays\": 2896,\n      \"totalDays\": 2905,\n      \"percentValidDays\":
        99.7,\n      \"long_term_flag\": false,\n      \"short_term_flag\": true,\n
        \     \"probabilitiesUnit\": \"m\",\n      \"ewlProbabilities\": [\n        {\n
        \         \"rl\": \"0.1yr\",\n          \"value\": 0.23,\n          \"ci_low\":
        0.18,\n          \"ci_high\": 0.28\n        },\n        {\n          \"rl\":
        \"0.2yr\",\n          \"value\": 0.27,\n          \"ci_low\": 0.2,\n          \"ci_high\":
        0.33\n        },\n        {\n          \"rl\": \"0.3yr\",\n          \"value\":
        0.29,\n          \"ci_low\": 0.22,\n          \"ci_high\": 0.36\n        },\n
        \       {\n          \"rl\": \"0.4yr\",\n          \"value\": 0.3,\n          \"ci_low\":
        0.23,\n          \"ci_high\": 0.38\n        },\n        {\n          \"rl[...]
