interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations.json
  response:
    body:
      string: "{\n  \"count\": 301,\n  \"units\": null,\n  \"stations\": [\n    {\n
        \     \"tidal\": true,\n      \"greatlakes\": false,\n      \"shefcode\":
        \"NWWH1\",\n      \"details\": {\n        \"self\": \"https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/1611400/details.json\"\n
        \     },\n      \"sensors\": {\n        \"self\": \"https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/1611400/sensors.json\"\n
        \     },\n      \"floodlevels\": {\n        \"self\": \"https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/1611400/floodlevels.json\"\n
        \     },\n      \"datums\": {\n        \"self\": \"https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/1611400/datums.json\"\n
        \     },\n      \"supersededdatums\": {\n        \"self\": \"https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/1611400/supersededdatums.json\"\n
        \     },\n      \"harmonicConstituents\": {\n        \"self\": \"https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/1611400/harcon.json\"\n
        \     },\n      \"benchmarks\": {\n        \"self\": \"https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/1611400/benchmarks.json\"\n
        \     },\n      \"tidePredOffsets\": {\n        \"self\": \"https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/1611400/tidepredoffsets.json\"\n
        \     },\n      \"ofsMapOffsets\": {\n        \"self\": \"https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/1611400/ofsmapoffsets.json\"\n
        \     },\n      \"state\": \"HI\",\n      \"timezone\": \"HAST\",\n      \"timezonecorr\":
        -10,\n      \"observedst\": false,\n      \"stormsurge\": false,\n      \"nearby\":
        {\n        \"self\": \"https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/1611400/nearby.json\"\n
        \     },\n      \"forecast\": false,\n      \"outlook\": true,\n      \"HTFhistorical\":
        true,\n      \"HTFmonthly\": true,\n      \"nonNavigational\": false,\n      \"id\":
        \"1611400\",\n      \"name\": \"Nawiliwili\",\n      \"lat\": 21.9544,\n      \"lng\":
        -159.3561,\n      \"affiliations\": \"NWLON\",\n      \"portscode\": null,\n
        \     \"products\": {\n        \"self\": \"https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/1611400/products.json\"\n
        \     },\n      \"disclaimers\": {\n        \"self\": \"https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/1611400/disclaimers.json\"\n
        \     },\n      \"notices\": {\n        \"self\": \"https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/1611400/notices.json\"\n
        \     },\n      \"self\": \"https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/1611400.json\",\n
        \     \"expand\": \"details,sensors,floodlevels,datums,harcon,tidepredoffsets,ofsmapoffsets,products,disclaimers,notices\",\n
        \     \"tideType\": \"Mixed\"\n    },\n    {\n      \"tidal\": true,\n      \"greatlakes\":
        false,\n      \"shefcode\": \"OOUH1\",\n      \"details\": {\n        \"self\":
        \"https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/1612340/details.json\"\n
        \     },\n      \"sensors\": {\n        \"self\": \"https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/1612340/sensors.json\"\n
        \     },\n      \"floodlevels\": {\n        \"self\": \"https://api.tidesandcurre[...]
[...]
