interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/9447130.json?expand=details,sensors,products,disclaimers,notices,datums,harcon,tidepredoffets,benchmarks,nearby,bins,deployments,currentpredictionoffsets,floodlevels?units=metric
  response:
    body:
      string: "{\n  \"count\": 1,\n  \"units\": null,\n  \"stations\": [\n    {\n
        \     \"tidal\": true,\n      \"greatlakes\": false,\n      \"shefcode\":
        \"EBSW1\",\n      \"details\": {\n        \"id\": \"9447130\",\n        \"established\":
        \"1899-01-01 00:00:00\",\n        \"removed\": \"\",\n        \"noaachart\":
        \"18450\",\n        \"timemeridian\": -120,\n        \"timezone\": -8.0,\n
        \       \"origyear\": \"1988-09-13 00:00:00\",\n        \"self\": \"https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/9447130/details.json\"\n
        \     },\n      \"sensors\": {\n        \"units\": \"feet\",\n        \"sensors\":
        [\n          {\n            \"status\": 1,\n            \"refdatum\": \"MSL\",\n
        \           \"sensorID\": \"F1\",\n            \"name\": \"Barometric Pressure\",\n
        \           \"elevation\": 18.2221,\n            \"message\": \"\",\n            \"dcp\":
        1\n          },\n          {\n            \"status\": 1,\n            \"refdatum\":
        \"MSL\",\n            \"sensorID\": \"site\",\n            \"name\": \"site\",\n
        \           \"elevation\": 12.480629,\n            \"message\": \"\",\n            \"dcp\":
        0\n          },\n          {\n            \"status\": 1,\n            \"refdatum\":
        \"\",\n            \"sensorID\": \"U1\",\n            \"name\": \"Tsunami
        WL\",\n            \"elevation\": null,\n            \"message\": \"\",\n
        \           \"dcp\": 1\n          },\n          {\n            \"status\":
        1,\n            \"refdatum\": \"\",\n            \"sensorID\": \"Y1\",\n            \"name\":
        \"Microwave WL\",\n            \"elevation\": null,\n            \"message\":
        \"\",\n            \"dcp\": 1\n          }\n        ],\n        \"self\":
        \"https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/9447130/sensors.json\"\n
        \     },\n      \"floodlevels\": {\n        \"nos_minor\": 21.39,\n        \"nos_moderate\":
        22.26,\n        \"nos_major\": 23.59,\n        \"nws_minor\": 21.40,\n        \"nws_moderate\":
        22.30,\n        \"nws_major\": 22.70,\n        \"action\": null,\n        \"self\":
        \"https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/9447130/floodlevels.json\"\n
        \     },\n      \"datums\": {\n        \"accepted\": \"Apr 17 2003\",\n        \"superseded\":
        \"\",\n        \"epoch\": \"1983-2001\",\n        \"units\": \"feet\",\n        \"OrthometricDatum\":
        \"NAVD88\",\n        \"datums\": [\n          {\n            \"name\": \"STND\",\n
        \           \"description\": \"Station Datum\",\n            \"value\": 0.0\n
        \         },\n          {\n            \"name\": \"MHHW\",\n            \"description\":
        \"Mean Higher-High Water\",\n            \"value\": 19.3\n          },\n          {\n
        \           \"name\": \"MHW\",\n            \"description\": \"Mean High Water\",\n
        \           \"value\": 18.43\n          },\n          {\n            \"name\":
        \"DTL\",\n            \"description\": \"Mean Diurnal Tide Level\",\n            \"value\":
        13.62\n        [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl/DataInventory.wsdl
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<wsdl:definitions targetNamespace=\"https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl\"
        xmlns:apachesoap=\"http://xml.apache.org/xml-soap\" xmlns:impl=\"https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl\"
        xmlns:intf=\"https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\" xmlns:wsdlsoap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n<!--WSDL created by Apache
        Axis version: 1.4\nBuilt on Apr 22, 2006 (06:55:48 PDT)-->\n <wsdl:types>\n
        \ <schema elementFormDefault=\"qualified\" targetNamespace=\"https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl\"
        xmlns=\"http://www.w3.org/2001/XMLSchema\">\n   <element name=\"Parameters\">\n
        \   <complexType>\n     <sequence>\n      <element name=\"stationId\" type=\"xsd:string\"/>\n
        \    </sequence>\n    </complexType>\n   </element>\n   <complexType name=\"location\">\n
        \   <sequence>\n     <element name=\"lat\" type=\"xsd:string\"/>\n     <element
        name=\"long\" nillable=\"true\" type=\"xsd:string\"/>\n     <element name=\"state\"
        type=\"xsd:string\"/>\n    </sequence>\n   </complexType>\n   <complexType
        name=\"metadata\">\n    <sequence>\n     <element name=\"location\" type=\"impl:location\"/>\n
        \    <element name=\"date_established\" type=\"xsd:string\"/>\n     <element
        name=\"shef_id\" type=\"xsd:string\"/>\n     <element name=\"deployment_designation\"
        type=\"xsd:string\"/>\n    </sequence>\n   </complexType>\n   <complexType
        name=\"parameter\">\n    <sequence/>\n    <attribute name=\"first\" type=\"xsd:string\"/>\n
        \   <attribute name=\"last\" type=\"xsd:string\"/>\n    <attribute name=\"name\"
        type=\"xsd:string\"/>\n   </complexType>\n   <complexType name=\"station\">\n
        \   <sequence>\n     <element name=\"metadata\" type=\"impl:metadata\"/>\n
        \    <element maxOccurs=\"unbounded\" minOccurs=\"0\" name=\"parameter\" type=\"impl:parameter\"/>\n
        \   </sequence>\n    <attribute name=\"ID\" type=\"xsd:string\"/>\n    <attribute
        name=\"name\" type=\"xsd:string\"/>\n   </complexType>\n   <element name=\"DataInventory\">\n
        \   <complexType>\n     <sequence>\n      <element name=\"station\" type=\"impl:station\"/>\n
        \    </sequence>\n    </complexType>\n   </element>\n  </schema>\n </wsdl:types>\n\n
        \  <wsdl:message name=\"getDataInventoryResponse\">\n\n      <wsdl:part element=\"impl:DataInventory\"
        name=\"DataInventory\"/>\n\n   </wsdl:message>\n\n   <wsdl:message name=\"getDataInventoryRequest\">\n\n
        \     <wsdl:part element=\"impl:Parameters\" name=\"Parameters\"/>\n\n   </wsdl:message>\n\n
        \  <wsdl:portType name=\"DataInventoryPortType\">\n\n      <wsdl:operation
        name=\"getDataInventory\" parameterOrder=\"Parameters\">\n\n         <wsdl:input
        message=\"impl:getDataInventoryRequest\" name=\"getDataInventoryRequest\"/>\n\n
        \        <wsdl:output message=\"impl:getDataInventoryResponse\" name=\"getDataInventoryResponse\"/>\n\n
        \     </wsdl:operation>\n\n   </wsdl:portType>\n\n   <wsdl:binding name=\"DataInventorySoapBinding\"
        type=\"impl:DataInventoryPortType\">\n\n      <wsdlsoap:binding style=\"document\"
        transport=\"http://schemas.xmlsoap.org/soap/http\"/>\n\n      <wsdl:operation
        name=\"getDataInventory\">\n\n         <wsdlsoap:operation soapAction=\"\"/>\n\n
        \        <wsdl:input name=\"getDataInventoryRequest\">\n\n            <wsdlsoap:body
        use=\"literal\"/>\n\n         </wsdl:input>\n\n         <wsdl:output name=\"getDataInventoryResponse\">\n\n
        \           <wsdlsoap:body use=\"literal\"/>\n\n         </wsdl:output>\n\n
        \     </wsdl:operation>\n\n   </wsdl:binding>\n\n   <wsdl:service name=\"DataInventoryService\">\n\n
        \     <wsdl:port binding=\"impl:DataInventorySoapBinding\" name=\"DataInventory\">\n\n
        \        <wsdlsoap:address location=\"https://opendap.co-ops.nos.noaa.gov/axis/services/DataInventory\"/>\n\n
        \     </wsdl:port>\n\n   </wsdl:service>\n\n</wsdl:definitions>"
    headers:
      Content-Type:
      - text/xml
      ETag:
      - W/"3712-1673306860000"
      Last-Modified:
      - Mon, 09 Jan 2023 23:27:40 GMT
    status:
      code: 200
      message: ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:Parameters
      xmlns:ns0="https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl"><ns0:stationId>9447130</ns0:stationId></ns0:Parameters></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '""'
    method: POST
    uri: https://opendap.co-ops.nos.noaa.gov/axis/services/DataInventory
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><DataInventory
        xmlns="https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl"><station
        ID="9447130" name="Seattle"><metadata><location><lat>47.6026</lat><long>-122.3393</long><state>WA</state></location><date_established>1899-01-01</date_established><shef_id>EBSW1</shef_id><deployment_designation>NWLON</deployment_designation></metadata><parameter
        first="1991-11-09 00:00" last="2019-01-02 18:36" name="Wind"/><parameter first="1991-11-09
        01:00" last="2019-01-02 18:36" name="Air Temperature"/><parameter first="1991-11-09
        00:00" last="2019-01-02 18:36" name="Water Temperature"/><parameter first="2023-09-28
        00:00" last="2026-04-21 17:18" name="Water Temperature"/><parameter first="1991-11-09
        00:00" last="2019-01-02 18:36" name="Barometric Pressure"/><parameter first="2023-09-28
        00:00" last="2026-04-21 17:18" name="Barometric Pressure"/><parameter first="2001-01-01
        00:00" last="2026-04-21 17:18" name="Preliminary 6-Minute Water Level"/><parameter
        first="1995-06-01 00:00" last="2026-03-31 23:54" name="Verified 6-Minute Water
        Level"/><parameter first="1899-01-01 08:00" last="2026-03-31 23:00" name="Verified
        Hourly Height Water Level"/><parameter first="1977-10-18 10:18" last="1977-11-15
        11:12" name="Verified High/Low Water Level"/><parameter first="1978-03-01
        10:54" last="1978-04-13 05:18" name="Verified High/Low Water Level"/><parameter
        first="1979-10-01 14:24" last="2026-03-31 23:54" name="Verified High/Low Water
        Level"/><parameter first="1898-12-01 00:00" last="2026-03-31 23:54" name="Verified
        Monthly Mean Water Level"/></station></DataInventory></soapenv:Body></soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    status:
      code: 200
      message: ''
version: 1
