interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/cb0102.json?expand=details,sensors,products,disclaimers,notices,datums,harcon,tidepredoffsets,benchmarks,nearby,bins,deployments,currentpredictionoffsets,floodlevels,supersededdatums&units=metric
  response:
    body:
      string: "{\n  \"count\": 1,\n  \"units\": null,\n  \"stations\": [\n    {\n
        \     \"project\": \"Chesapeake Bay South PORTS\",\n      \"deployed\": \"2025-01-27
        15:00:00\",\n      \"retrieved\": \"\",\n      \"timezone_offset\": \"-5\",\n
        \     \"observedst\": true,\n      \"project_type\": \"PORTS\",\n      \"noaachart\":
        12222,\n      \"deployments\": {\n        \"units\": \"meters\",\n        \"flood_direction_degrees\":
        280.0,\n        \"orientation\": \"down\",\n        \"sensor_depth\": 1.925,\n
        \       \"depth\": 22.0,\n        \"measured_depth\": 22.0,\n        \"height_from_bottom\":
        0.0,\n        \"sample_interval\": 360,\n        \"ping_int\": null,\n        \"first_good_data\":
        \"\",\n        \"last_good_data\": \"\",\n        \"deployments\": [\n          {\n
        \           \"id\": \"cb0102\",\n            \"deployed\": \"2025-01-27 15:00:00\",\n
        \           \"retrieved\": \"\",\n            \"lat\": 36.95940017700195,\n
        \           \"lng\": -76.01280212402344,\n            \"instrument_id\": 23114,\n
        \           \"instrument_desc\": \"Nortek Gen 1 ADCP\",\n            \"real_time_bin\":
        null,\n            \"serial_num\": \"AQD 1780/AQP 10549\",\n            \"frequency\":
        \"1000\",\n            \"nbr_beams\": \"3\"\n          },\n          {\n            \"id\":
        \"cb0102\",\n            \"deployed\": \"2024-06-12 11:32:00\",\n            \"retrieved\":
        \"2025-01-27 14:55:00\",\n            \"lat\": 36.9594,\n            \"lng\":
        -76.0128,\n            \"instrument_id\": 41421,\n            \"instrument_desc\":
        \"Nortek Gen 1 ADCP\",\n            \"real_time_bin\": null,\n            \"serial_num\":
        \"AQD 18125/AQP 12945\",\n            \"frequency\": \"1000\",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?begin_date=20240101+00%3A00&end_date=20240102+00%3A00&station=cb0102&product=currents_predictions&application=noaa_coops&format=json&units=metric&time_zone=gmt&bin=4
  response:
    body:
      string: '{"current_predictions":{"units":"meters, cm/s","cp":[{"meanFloodDir":297,"Bin":"4","meanEbbDir":112,"Time":"2024-01-01
        00:00","Depth":"6.7","Velocity_Major":-34.6},{"meanFloodDir":297,"Bin":"4","meanEbbDir":112,"Time":"2024-01-01
        00:06","Depth":"6.7","Velocity_Major":-33.4},{"meanFloodDir":297,"Bin":"4","meanEbbDir":112,"Time":"2024-01-01
        00:12","Depth":"6.7","Velocity_Major":-32.1},{"meanFloodDir":297,"Bin":"4","meanEbbDir":112,"Time":"2024-01-01
        00:18","Depth":"6.7","Velocity_Major":-30.7},{"meanFloodDir":297,"Bin":"4","meanEbbDir":112,"Time":"2024-01-01
        00:24","Depth":"6.7","Velocity_Major":-29.3},{"meanFloodDir":2[...]
