interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/cb0701.json?expand=details,sensors,products,disclaimers,notices,datums,harcon,tidepredoffsets,benchmarks,nearby,bins,deployments,currentpredictionoffsets,floodlevels,supersededdatums&units=metric
  response:
    body:
      string: "{\n  \"count\": 1,\n  \"units\": null,\n  \"stations\": [\n    {\n
        \     \"project\": \"Chesapeake Bay South PORTS\",\n      \"deployed\": \"2018-09-25
        16:00:00\",\n      \"retrieved\": \"2022-09-14 12:45:00\",\n      \"timezone_offset\":
        \"-5\",\n      \"observedst\": true,\n      \"project_type\": \"PORTS\",\n
        \     \"noaachart\": 12245,\n      \"deployments\": {\n        \"units\":
        \"meters\",\n        \"flood_direction_degrees\": 310.0,\n        \"orientation\":
        \"side\",\n        \"sensor_depth\": 4.23,\n        \"depth\": 15.0,\n        \"measured_depth\":
        11.58,\n        \"height_from_bottom\": 10.77,\n        \"sample_interval\":
        360,\n        \"ping_int\": null,\n        \"first_good_data\": \"2018-09-26
        00:04:00\",\n        \"last_good_data\": \"2018-10-29 14:22:00\",\n        \"deployments\":
        [\n          {\n            \"id\": \"cb0701\",\n            \"deployed\":
        \"2022-09-14 12:50:00\",\n            \"retrieved\": \"2023-09-20 12:30:00\",\n
        \           \"lat\": 36.96233,\n            \"lng\": -76.42417,\n            \"instrument_id\":
        16241,\n            \"instrument_desc\": \"Sontek ADP/Nortek AWAC\",\n            \"real_time_bin\":
        null,\n            \"serial_num\": \"C624\",\n            \"frequency\": \"500\",\n
        \           \"nbr_beams\": \"2\"\n          },\n          {\n            \"id\":
        \"cb0701\",\n            \"deployed\": \"2018-09-25 16:00:00\",\n            \"retrieved\":
        \"2022-09-14 12:45:00\",\n            \"lat\": 36.96233,\n            \"lng\":
        -76.42417,\n            \"instrument_id\": 16165,\n            \"instrument_desc\":
        \"Sontek ADP/Nortek AWAC\",\n            \"real_time_bin\": null,\n            \"serial_num\":
        \"C473\",\n            \"frequency\": \"500\",\n       [...]
