interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/bh0101.json?expand=details,sensors,products,disclaimers,notices,datums,harcon,tidepredoffsets,benchmarks,nearby,bins,deployments,currentpredictionoffsets,floodlevels,supersededdatums&units=metric
  response:
    body:
      string: "{\n  \"count\": 1,\n  \"units\": null,\n  \"stations\": [\n    {\n
        \     \"project\": \"Boston Harbor PORTS\",\n      \"deployed\": \"2025-11-17
        00:02:00\",\n      \"retrieved\": \"\",\n      \"timezone_offset\": \"-5\",\n
        \     \"observedst\": true,\n      \"project_type\": \"PORTS\",\n      \"noaachart\":
        null,\n      \"deployments\": {\n        \"units\": \"meters\",\n        \"flood_direction_degrees\":
        310.0,\n        \"orientation\": \"side\",\n        \"sensor_depth\": 8.5,\n
        \       \"depth\": 12.5,\n        \"measured_depth\": 12.5,\n        \"height_from_bottom\":
        4.0,\n        \"sample_interval\": 360,\n        \"ping_int\": null,\n        \"first_good_data\":
        \"\",\n        \"last_good_data\": \"\",\n        \"deployments\": [\n          {\n
        \           \"id\": \"bh0101\",\n            \"deployed\": \"2025-11-17 00:02:00\",\n
        \           \"retrieved\": \"\",\n            \"lat\": 42.34086227416992,\n
        \           \"lng\": -71.01233673095703,\n            \"instrument_id\": 52259,\n
        \           \"instrument_desc\": \"Sontek ADP/Nortek AWAC\",\n            \"real_time_bin\":
        null,\n            \"serial_num\": \"*3\",\n            \"frequency\": \"250\",\n
        \           \"nbr_beams\": \"2\"\n          },\n          {\n            \"id\":
        \"bh0101\",\n            \"deployed\": \"2025-11-17 00:00:00\",\n            \"retrieved\":
        \"2025-11-17 00:00:00\",\n            \"lat\": 42.34086227416992,\n            \"lng\":
        -71.01233673095703,\n            \"instrument_id\": 26984,\n            \"instrument_desc\":
        \"Sontek ADP/Nortek AWAC\",\n            \"real_time_bin\": null,\n            \"serial_num\":
        \"*2\",\n            \"frequency\": \"250\",\n            \"nbr_beams\": \"2\"\n
        \         }\n        ],\n        \"self\": \"https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/bh0101/deployments.json\"\n
        \     },\n      \"bins\": {\n        \"nbr_of_bins\": 23,\n        \"max_pics_bin\":
        23,\n        \"units\": \"meters\",\n        \"bin_size\": 4.0,\n        \"center_bin_1_dist\":
        6.0,\n        \"real_time_bin\": 17,\n        \"bins\": [\n          {\n            \"num\":
        1,\n            \"depth\": null,\n            \"distance\": 6.0,\n            \"qc_flag\":
        1,\n            \"ping_int\": null,\n            \"is_pics\": false\n          },\n
        \         {\n            \"num\": 2,\n            \"depth\": null,\n            \"distance\":
        10.0,\n            \"qc_flag\": 1,\n            \"ping_int\": null,\n            \"is_pics\":
        false\n          },\n          {\n            \"num\": 3,\n            \"depth\":
        null,\n            \"distance\": 13.99,\n            \"qc_flag\": 1,\n            \"ping_int\":
        null,\n            \"is_pics\": false\n          },\n          {\n     [...]
