interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/8720030.json?expand=details,sensors,products,disclaimers,notices,datums,harcon,tidepredoffsets,benchmarks,nearby,bins,deployments,currentpredictionoffsets,floodlevels,supersededdatums&units=metric
  response:
    body:
      string: "{\n  \"count\": 1,\n  \"units\": null,\n  \"stations\": [\n    {\n
        \     \"tidal\": true,\n      \"greatlakes\": false,\n      \"shefcode\":
        \"FRDF1\",\n      \"details\": {\n        \"id\": \"8720030\",\n        \"established\":
        \"1897-05-08 00:00:00\",\n        \"removed\": \"\",\n        \"noaachart\":
        \"11502\",\n        \"timemeridian\": -75,\n        \"timezone\": -5.0,\n
        \       \"origyear\": \"1997-02-05 00:00:00\",\n        \"self\": \"https://api.tidesandcurrents.noaa.gov/mdapi/prod/webapi/stations/8720030/details.json\"\n
        \     },\n      \"sensors\": {\n        \"units\": \"meters\",\n        \"sensors\":
        [\n          {\n            \"status\": 1,\n            \"refdatum\": \"Site
        Elevation\",\n            \"sensorID\": \"C1\",\n            \"name\": \"Wind\",\n
        \           \"elevation\": 8.59,\n            \"message\": \"\",\n            \"dcp\":
        3\n          },\n          {\n            \"status\": 1,\n            \"refdatum\":
        \"Site Elevation\",\n            \"sensorID\": \"D1\",\n            \"name\":
        \"Air Temperature\",\n            \"elevation\": null,\n            \"message\":
        \"\",\n            \"dcp\": 4\n          },\n          {\n            \"status\":
        1,\n            \"refdatum\": \"MSL\",\n            \"sensorID\": \"F1\",\n
        \           \"name\": \"Barometric Pressure\",\n  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl/DataInventory.wsdl
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<wsdl:definitions targetNamespace=\"https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl\"
        xmlns:apachesoap=\"http://xml.apache.org/xml-soap\" xmlns:impl=\"https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl\"
        xmlns:intf=\"https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\" xmlns:wsdlsoap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n<!--WSDL created by Apache
        Axis version: 1.4\nBuilt on Apr 22, 2006 (06:55:48 PDT)-->\n <wsdl:types>\n
        \ <schema elementFormDefault=\"qualified\" targetNamespace=\"https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl\"
        xmlns=\"http://www.w3.org/2001/XMLSchema\">\n   <element name=\"Parameters\">\n
        \   <complexType>\n     <sequence>\n      <element name=\"stationId\" type=\"xsd:string\"/>\n
        \    </sequence>\n    </complexType>\n   </element>\n   <complexType name=\"location\">\n
        \   <sequence>\n     <element name=\"lat\" type=\"xsd:string\"/>\n     <element
        name=\"long\" nillable=\"true\" type=\"xsd:string\"/>\n     <element name=\"state\"
        type=\"xsd:string\"/>\n    </sequence>\n   </complexType>\n   <complexType
        name=\"metadata\">\n    <sequence>\n     <element name=\"location\" type=\"impl:location\"/>\n
        \    <element name=\"date_established\" type=\"xsd:string\"/>\n     <element
        name=\"shef_id\" type=\"xsd:string\"/>\n     <element name=\"deployment_designation\"
        type=\"xsd:string\"/>\n    </sequence>\n   </complexType>\n   <complexType
        name=\"parameter\">\n    <sequence/>\n    <attribute name=\"first\" type=\"xsd:string\"/>\n
        \   <attribute name=\"last\" type=\"xsd:string\"/>\n    <attribute name=\"name\"
        type=\"xsd:string\"/>\n   </complexType>\n   <complexType name=\"station\">\n
        \   <sequence>\n     <element name=\"metadata\" type=\"impl:metadata\"/>\n
        \    <element maxOccurs=\"unbounded\" minOccurs=\"0\" name=\"parameter\" type=\"impl:parameter\"/>\n
        \   </sequence>\n    <attribute name=\"ID\" type=\"xsd:string\"/>\n    <attribute
        name=\"name\" type=\"xsd:string\"/>\n   </complexType>\n   <element name=\"DataInventory\">\n
        \   <complexType>\n     <sequence>\n      <element name=\"station\" type=\"impl:station\"/>\n
        \    </sequence>\n    </complexType>\n   </element>\n  </schema>\n </wsdl:types>\n\n
        \  <wsdl:message name=\"getDataInventoryResponse\">\n\n      <wsdl:part element=\"impl:DataInventory\"
        name=\"DataInventory\"/>\n\n   </wsdl:message>\n\n   <wsdl:message name=\"getDataInventoryRequest\">\n\n
        \     <wsdl:part element=\"impl:Parameters\" name=\"Parameters\"/>\n\n   </wsdl:message>\n\n
        \  <wsdl:portType name=\"DataInventoryPortType\">\n\n      <wsdl:operation
        name=\"getDataInventory\" parameterOrder=\"Parameters\">\n\n         <wsdl:input
        message=\"impl:getDataInventoryRequest\" name=\"getDataInventoryRequest\"/>\n\n
        \        <wsdl:output message=\"impl:getDataInventoryResponse\" name=\"getDataInventoryResponse\"/>\n\n
        \     </wsdl:operation>\n\n   </wsdl:portType>\n\n   <wsdl:binding name=\"DataInventorySoapBinding\"
        type=\"impl:DataInventoryPortType\">\n\n      <wsdlsoap:binding style=\"document\"
        transport=\"http://schemas.xmlsoap.org/soap/http\"/>\n\n      <wsdl:operation
        name=\"getDataInventory\">\n\n         <wsdlsoap:operation soapAction=\"\"/>\n\n
        \        <wsdl:input name=\"getDataInventoryRequest\">\n\n            <wsdlsoap:body
        use=\"literal\"/>\n\n         </wsdl:input>\n\n         <wsdl:output name=\"getDataInventoryResponse\">\n\n
        \           <wsdlsoap:body use=\"literal\"/>\n\n         </wsdl:output>\n\n
        \     </wsdl:operation>\n\n   </wsdl:binding>\n\n   <wsdl:service name=\"DataInventoryService\">\n\n
        \     <wsdl:port binding=\"impl:DataInventorySoapBinding\" name=\"DataInventory\">\n\n
        \        <wsdlsoap:address location=\"https://opendap.co-ops.nos.noaa.gov/axis/services/DataInventory\"/>\n\n
        \     </wsdl:port>\n\n   </wsdl:service>\n\n</wsdl:definitions>"
    headers:
      Content-Type:
      - text/xml
      ETag:
      - W/"3712-1673306860000"
      Last-Modified:
      - Mon, 09 Jan 2023 23:27:40 GMT
    status:
      code: 200
      message: ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:Parameters
      xmlns:ns0="https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl"><ns0:stationId>8720030</ns0:stationId></ns0:Parameters></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '""'
    method: POST
    uri: https://opendap.co-ops.nos.noaa.gov/axis/services/DataInventory
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><soapenv:Fault><faultcode>soapenv:Server.userException</faultcode><faultstring>java.lang.NumberFormatException:
        multiple points</faultstring><detail><ns1:hostname xmlns:ns1="http://xml.apache.org/axis/">ip-10-26-17-72.ec2.internal</ns1:hostname></detail></soapenv:Fault></soapenv:Body></soapenv:Envelope>'
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    status:
      code: 500
      message: ''
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:Parameters
      xmlns:ns0="https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl"><ns0:stationId>8720030</ns0:stationId></ns0:Parameters></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '""'
    method: POST
    uri: https://opendap.co-ops.nos.noaa.gov/axis/services/DataInventory
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><DataInventory
        xmlns="https://opendap.co-ops.nos.noaa.gov/axis/webservices/datainventory/wsdl"><station
        ID="8720030" name="Fernandina Beach"><metadata><location><lat>30.6714</lat><long>-81.4658</long><state>FL</state></location><date_established>1897-05-08</date_established><shef_id>FRDF1</shef_id><deployment_designation>NWLORTS</deployment_designation></metadata><parameter
        first="2000-03-22 18:00" last="2026-07-31 07:54" name="Wind"/><parameter first="2000-03-22
        18:00" last="2026-07-31 07:48" name="Air Temperature"/><parameter first="1997-02-06
        16:00" last="2026-03-12 14:18" name="Water Temperature"/><parameter first="2000-03-23
        20:00" last="2026-07-31 07:48" name="Barometric Pressure"/><parameter first="2001-01-02
        13:42" last="2026-07-31 07:48" name="Preliminary 6-Minute Water Level"/><parameter
        first="1997-02-06 15:06" last="2026-06-30 23:54" name="Verified 6-Minute Water
        Level"/><param[...]
